input,
textarea,
select {
  border-radius: 5px;
  padding: 10px 12px;
  border: 1px solid #e6e6e6;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.03),
    0px 3px 6px rgba(0, 0, 0, 0.02);
}

input:focus,
select:focus,
textarea:focus {
  outline: var(--focusOutline);
  border-color: var(--colorPrimary);
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.03),
    0px 3px 6px rgba(0, 0, 0, 0.02),
    var(--focusBoxShadow);
}

.margin-input {
  margin-bottom: 12px;
}

.margin-input label {
  margin-bottom: 4px;
  font-size: 0.93rem;
  line-height: 1.15;
}
