//
// Footer section styling
//

.newsContainer {
    background-color: rgb(255 225 142);
    margin: 0 0 24px 0;
    padding: 30px 0;
    border-radius: 20px;    
    align-content: center;
    justify-content: center;
    gap: 20px 0;
}

.newsletterBlocImage {
    background-color: #ff652a;
    border-radius: 14px;
    padding: 10px;
    margin-right: 11px;
    width: fit-content;
    height: fit-content;
}

.newsletterHeader {    
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;

    img {
        width: 30px;
        height: auto;
    }
}

.newsletterTitle {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 500;
}

.newsletterHeaderDescription{
    margin: 5px 0 0 0;
}

#mailArrondi {
    height: 44px;
    line-height: 39px;
    border: none;
    padding: 0 10px !important;
    //max-width: 380px;
    width: 80%;
    float: left;
    border-radius: 10px 0 0 10px;
}

input#validerNewsletter {
    background-color: #ff9426  !important;
    text-transform: none !important;
    font-weight: 400;
    border-radius: 0px 10px 10px 0px;
    border:0;
    width: 50px;
    height: 44px;
    margin-bottom: 0;
    line-height: 39px;
    padding: 0 10px !important;
    max-width: 368px;
    float: left;
}

.infoServeur{
    text-align: center;
}

.loadingImg {
    width: 50px;
    display: none;
}

.newsletterImg{
    font-size: 34px;
    color:white;
    display: inline-block;
}

#newsletterForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@include media-breakpoint-up(xl) {
    #newsletterForm {
        justify-content: flex-start;
    }
}

/* FIN du formulaire newsletter */

.dessusFooter {    
    padding: 28px 0;
    background-color: $primaireTresClair;
}

.dessousfooter {
    text-align: center;
    font-size: 0.9rem;
    color:$text_with_primary_background;
    padding: 18px 0;
    background-color: $primaireFonce;
}

footer, .conteneur-horaires {
    strong {
        font-weight: 500;
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }

    h4{
        text-align: center;
    }
}