.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio */
    height: 0;
    overflow: hidden;
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.imageNews {
  height: 100%;
  max-width: 600px;
  padding-bottom: 40px;
}