.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageNews {
  max-width: 600px;
  margin-bottom: 10px;
}

.newsInfoContainer {
  background-color: rgb(211, 241, 240);
  margin: 0 0 20px 0;
  padding: 1rem 0 0 0;
  border-radius: 20px;
  align-content: center;
  justify-content: center;
  gap: 15px 0;
}
