.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageNews {
  max-width: 600px;
  height: 100%;
  margin-bottom: 10px;
  max-inline-size: 100%;
}

.newsInfoContainer {
  background-color: #e7f5f5;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden; /* important pour le radius */
}

.newsHeader {
  background-color: #009d9b;
  padding: 1rem;
}

.newsHeader h3 {
  color: white;
  margin: 0;
}

.newsBody {
  padding: 1rem;
}
