//
// Global theme styling
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
//
// https://caniuse.com/?search=scroll-padding

/* If I want some tailwind and a basic structure example :
@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/

$menu-padding-small: 0.3rem;
$menu-padding-bigscreen: 0.5rem;
$menu-padding-bigscreen-sticky: 0.3rem;

$menu-logo-small: 6.875rem;
$menu-logo-bigscreen: 8.125rem;
$menu-logo-bigscreen-sticky: 5.625rem;

$menu-small-height: ($menu-padding-small * 2) + $menu-logo-small + 0.625rem;
$menu-big-height: ($menu-padding-bigscreen-sticky * 2) +
  $menu-logo-bigscreen-sticky + 0.625rem;

html {
  scroll-padding-top: 4.5rem;
}

body {
  position: relative;
  overflow-x: hidden;
}

// Adjust the line height of paragraphs

p {
  line-height: $line-height-lg;
}

// Spacing and heading styling for page sections
.page-section {
  padding: 4rem 0;

  h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h2.nosubheading {
    margin-bottom: 4rem;
  }

  h3.section-subheading {
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 3rem;
  }

  .espacement {
    margin-top: 2rem;
  }
}

.container-space-between {
  justify-content: space-evenly;
}

#premiere-section {
  padding-top: 1.5 + $menu-small-height;
}

@include media-breakpoint-up(lg) {
  #premiere-section {
    padding-top: 5 + $menu-big-height;
  }

  .page-section {
    padding: 5rem 0;
  }
}

section a {
  //color: $liens;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

.listeAvecMargin {
  li {
    margin-left: 25px;
  }
}
