// Bootstrap mixins for SCSS usage in local styles (legacy @import for compatibility)
@import "bootstrap/scss/functions";

// Import variables (override Bootstrap defaults)
@import "./variables.scss";

// Bootstrap defaults + mixins (uses overrides above)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

//
// Styles
//

// Import Bootstrap
@layer bootstrap {
  @import "bootstrap/scss/bootstrap.scss";
}
// Global CSS
@import "./global.scss";

// Components
@import "./components/buttons.scss";
@import "./components/navbar.scss";
@import "./components/tableau_massages.scss";
@import "./components/liste.scss";
@import "./components/form.scss";
@import "./components/massage_selector.scss";
@import "./components/carte_cadeau.scss";

// Sections
@import "./sections/index.scss";
@import "./sections/masthead.scss";
@import "./sections/portfolio.scss";
@import "./sections/timeline.scss";
@import "./sections/team.scss";
@import "./sections/contact.scss";
@import "./sections/footer.scss";
@import "./sections/premium_pages.scss";
@import "./sections/home_premium.scss";

div.booking {
  background-color: green !important;
  --color-primary: $yellow;

  .ui-button__type__primary {
    background-color: red !important;
  }
}

div.booking[data-v-ca8c5e23] {
  background-color: black !important;
  --color-primary: $yellow;

  .ui-button__type__primary {
    background-color: red !important;
  }
}

.accordion-button {
  font-size: 1.2rem;
}
