//
// Typography
//

// Override the default Bootstrap headings font family
//
// Montserrat is being used below and is brought in
// via Google fonts in the head of src/pug/index.pug.
// The fonts listed afterwards are fallbacks.

$headings-font-family:
  var(--font-bellefair),
  var(--font-roboto),
  system-ui,
  -apple-system,
  "Segoe UI",
  Arial,
  sans-serif,
  "Noto Color Emoji";

// jolie font que je peux utiliser au moins pour mes titres, peut-être pour mon texte plus tard
.font-lora {
  font-family: var(--font-lora), serif;
}

// Override Bootstrap default headings variables
$headings-font-weight: 400;
$headings-letter-spacing: 0.0625em;
$sans-serif-font-weight: bold;

// Override default Bootstrap line height variables

$line-height-lg: 1.75;

@mixin todoFontSpeciale {
  font-family: var(--font-roboto), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  text-transform: none;
  line-height: 1.4em;
}
