//
// Typography
//

// Override the default Bootstrap headings font family
// 
// Montserrat is being used below and is brought in
// via Google fonts in the head of src/pug/index.pug.
// The fonts listed afterwards are fallbacks.

$headings-font-family: "Bellefair",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";


// Override Bootstrap default headings variables
$headings-font-weight: 400;
$headings-letter-spacing: 0.0625em;
$sans-serif-font-weight:bold;

// Override default Bootstrap line height variables

$line-height-lg: 1.75;

@mixin todoFontSpeciale {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  text-transform: none;
  line-height: 1.4em;
}